.router-link-active {
    color: #765108 !important;
}

/* header_section class: színátmenetes háttér ami narancs-ból indul a feketébe */
.header_section {
    background: linear-gradient(90deg, #f0dd8e, #9d782e);
    padding: 20px 0;
    cursor: pointer;
}

/* header_section class li elemek színe fekete és modern betütípus */
.header_section ul li a {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 10px;
}

body {
    background: linear-gradient(90deg, #ffffff, #e2e1de);
}


/* .home-page img: corners rounded */
.home-page img {
    width: 500px;
    margin: 0 auto;
    display: block;
    border-radius: 15px;

}

/* .text-info: force color black  */
.text-info {
    color: black !important;
}

/* #historyButton if disabled property true change cursor */
#historyButton:disabled {
    cursor: not-allowed;
}



.menu-off:hover{
    cursor: not-allowed;
}






#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}






.register{
    height: 580px !important;
}

#login .container #login-row #login-column #login-box {
    margin-top: 10px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.nav-link:hover {
    color:red !important;
}

.nav-button {
    padding: 10px;
}

.nav-body {
    background-color: rgb(200, 200, 239);
    padding: 10px;
}

/* .nav-button:hover lekerekített szélek */
.nav-button:hover
{
    background-color: antiquewhite;
    border-radius: 10px;
}


.content-background{
    background-color: #f0ebdd;
    min-height: 280px;
}

.card-custom{
    min-width: 230px;
    /* max-width: 250px; */
    margin-top: 10px;
}

.card-custom p {
    margin: 1px;
}



tr > td:nth-child(2) {
    word-break: break-all;
    /* width: 10%; */
}















.pay-card {
    /* background: #E6EBF1; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    
}

.pay-card * {
    font-family: "Helvetica Neue", Helvetica;
    font-size: 15px;
    font-variant: normal;
    /* padding: 0; */
    margin: 0;
}

.pay-card form {
    width: 100%;
    margin: 20px 0;
}

.pay-card form > div {
    background: white;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10), 0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    margin-bottom: 20px;
}

.pay-card label {
    position: relative;
    color: #8898AA;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.pay-card label:not(:last-child) {
    border-bottom: 1px solid #F0F5FA;
}

.pay-card label > span {
    /* width: 90px; */
    text-align: right;
    margin-right: 30px;
}

.pay-card label > div {
    padding-top: 11px;
    width: 200px;
}


.pay-card input {
    border: none;
    font-size: 16px;
}

.pay-card input:focus{
    outline: none;
}

.pay-card button:disabled {
    background-color: #7d7d7d;
}

.pay-card button:disabled:hover {
    cursor: not-allowed;
}

.pay-card-outcome {
    
    float: left;
    width: 100%;
    padding-top: 8px;
    min-height: 24px;
    text-align: center;
}

.pay-card-outcome div {
    color: red;
}



